/*
DownloadFasta JBrowse plugin CSS
*/
/* 
    Created on : Nov 9, 2016, 15:12:28 PM
    Author     : ESanz
*/

/* Dialog */
.DFDialogContent {
    text-align: center;
}

/* Informative note */
span.classSpan_tt_link {
    position: relative;
    display: inline-block;
}
span.classSpan_tt_note {
    border-radius: 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
    border: 1px solid #FFAD33;
    background: #FFFFAA;
    position: absolute;
    padding: 0.4em 0.4em;
    margin-left: 0;
    margin-right: 0;
    left: 1em;
    top: 2em;
    width: 180px;
    font-size: 0.9em;
    text-align: justify;
    z-index: 2147483647;
    opacity: 0.95;
    visibility: hidden;
}
span.classSpan_tt_link:hover span.classSpan_tt_note {
    visibility: visible;
}

/* Download FASTA button */
span[widgetid=fasta-btn] {
  positiion:relative;
  top: -1px;
}
#fasta-btn{
  height: 17px;
  width: 22px;
  background-image: url("../img/downfasta.png");
  background-repeat: no-repeat;
  background-position: center center;
}
/*#fasta-btn[downloaded-fasta] {
  background-image: url("../img/downfasta2.png");
}*/

/*   */
input#inputRefSeq {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    position: relative;
    top: -1px;
    overflow: hidden;
}
input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}

/*   */
.multiselect {
    width: 200px;
}
.selectBox {
    position: relative;
}
.selectBox select {
    width: 100%;
    font-weight: bold;
}
.overSelect {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
}

/*   */
#popChkBoxes {
    display: none;
    border: 1px #dadada solid;
    max-width: 100%;
    max-height: 200px;
    overflow: scroll;
}
#popChkBoxes label {
    display: block;
    padding-left: 15px;
    margin-left: 4px;
    text-indent: -15px;
}
#popChkBoxes label:hover {
    background-color: #BECA5F;
}
#popChkBoxes input {
    padding: 0;
    margin: 0;
    vertical-align: middle;
    position: relative;
    top: -1px;
    overflow: hidden;
}


body.classBody_login {
    text-align: center;
    vertical-align: middle;
    font-family: "Ubuntu";
    font-size: 11pt;
}

table.classTable_form {
    margin: auto;
    text-align: center;
    border-spacing: 2px;
    border-collapse: separate;
    border: 0px;
} table.classTable_form td {
    vertical-align: top;
    border: 0;
    padding: 2px;
    text-align: center;
} table.classTable_form td.classTd_right {
    text-align: right;
    vertical-align: middle;
} table.classTable_form td.classTd_rightTop {
    text-align: right;
    vertical-align: top;
} @-moz-document url-prefix() {
      /* Special treatment for Mozilla Firefox */
      table.classTable_form td.classTd_rightTop {
          text-align: right;
          padding-top: 0.7em;
      }
} table.classTable_form td.classTd_left {
    text-align: left;
    vertical-align: middle;
} p.classP {
    margin: 0;
    padding: 0;
    display: inline-block;
} .class_italic {
    font-size: 10pt;
    font-style: italic;
    color: black;
} .class_error {
    font-size: 10pt;
    font-style: italic;
    color: red;
} textarea.classTextarea {
    width: 320px;
    resize: vertical;
} .classAlert {
    font-size: normal;
    color: red;
    padding: 0;
    margin: 0;
} div.resultDiv {
    text-align:center;
    padding-right: 0.6em;
}
/*div.divButtons {
    text-align: center;
} .inputButtons {
    margin: auto;
    padding: auto;
}*/
